.container {
  width: 100%;
  height: calc(100vh-50px);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.head {
  margin-left: 20px;
}
.head h4 {
  transform: translateY(-19px);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.head span {
  font-size: 20px;
}
.bell {
  margin-right: 18px;
  margin-top: 10px;
  position: relative;
}
.notifier {
  background-color: rgb(31, 236, 31);
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.middle {
  display: flex;
  justify-content: space-between;
}
.searchbar {
  max-width: 90%;
  padding: 15px 40px 15px 20px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(234, 227, 227);
  border: none;
  margin-left: -12px;
}
.magnifying {
  position: relative;
  left: 85%;
  transform: translateY(10px);
  font-size: medium;
}
.menubar {
  background-color: rgb(241, 145, 11);
  margin-right: 40px;

  border-radius: 30px 10px 10px 10px;
}
.menu {
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.cate img {
  background-color: rgba(237, 62, 27, 0.827);
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding: 10px;
  border-radius: 50px;
}
.order img {
  background-color: rgb(225, 225, 57);
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding: 10px;
  border-radius: 50px;
}
.call img {
  background-color: rgb(241, 145, 11);
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding: 10px;
  border-radius: 50px;
}
.item1 {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}
.item1 p {
  margin: 0 5px 15px 8px;
  font-size: 12px;
  overflow: auto;
  color: rgb(132, 129, 129);
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 8px;
}
.food {
  width: 95px;
  height: 59px;
  padding: 15px;
  object-fit: contain;
}
.sub-item {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 0 15px;
  font-size: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.sub-item img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin: 18px 5px 0 0;
}
.fooditems {
  margin-top: 15px;
}
.foods {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}
.vi {
  align-items: center;
  justify-content: center;
  display: flex;
}
.footericons {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 96%;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}
.footericons img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.footer {
  margin-left: -8px;
}
.cart {
  background-color: coral;
  padding: 10px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
